body {
    background-color: #666;
    color: hotpink;
    font-family: "Raleway", sans-serif;
    margin: 0 10px;
    width: 100vw;
}
html {
    width: 100vw;
}
section {
    margin: 5rem;
    padding: 20px;
}
h1 {
    font-family: "Seaweed Script", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: dodgerblue;
    text-align: center;
}
h2 {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-decoration: underline;
}
.experience li {
    text-align: center;
    border: 5px solid burlywood;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: lemonchiffon;
    list-style-type: none;
    scroll-margin-top: 4rem;
}

label {
    background-color: blanchedalmond;
    color: darkgoldenrod;
}

input {
    font-size: 3rem;
    padding: 25px;
    border: 10px solid black;
}
input:focus {
    border: none;
}
.button {
    padding: 25px;
    margin-top: 10px;
    background-color: aquamarine;
    color: mediumorchid;
    font-size: 2rem;
}
.button:hover {
    background-color: red;
    color: yellow;
}

footer {
    background-color: #666;
    margin-top: 20px;
    padding: 20px;
}
img {
    border: 5px solid powderblue;
    border-style: inset;
    border-radius: 150px;
    box-shadow: 10px 5px 10px black;
}
placeholder {
    color: green;
}
.edit-button {
    background-color: dodgerblue;
}
a {
    text-decoration: none;
}
a:hover {
    color: black;
}
a:visted {
    color: purple;
}
.nav-item {
    display: inline;
    padding: 10px;
}
.nav-list {
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
#skills {
    max-width: 75%;
}
#skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
#skills li {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-align: center;
    border: 1px dashed brown;
    margin: 20px 0;
    padding: 50px;
    list-style-type: none;
    border-radius: 500px;
}
#skills li:hover {
    background-color: black;
    color: white;
}
.message-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#messages li {
    display: inline;
    margin: 20px 10px;
}

@media screen and (max-width: 900px) {
    h1 {
        color: chartreuse;
    }
}

@media screen and (max-width: 450px) {
    p {
        font-size: 3rem;
    }
    img {
        border-radius: 0px;
    }
    h1 {
        color: firebrick;
    }
}
